AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_BASE_URL=https://example.com/samenwerkfunctionaliteit
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_CERTIFICATE=123456
AUTODEPLOYMENT_PLUGINCONFIG_SAMENWERKFUNCTIONALITEIT_OIN_NUMMER=123456

AUTODEPLOYMENT_PLUGINCONFIG_OPENNOTIFICATIES_AUTHENTICATION_CLIENTID=valtimo
AUTODEPLOYMENT_PLUGINCONFIG_OPENNOTIFICATIES_AUTHENTICATION_CLIENTSECRET=[insert opennotificaties authentication here]
AUTODEPLOYMENT_PLUGINCONFIG_NOTIFICATIES-API_URL=http://localhost:8002/api/v1/
AUTODEPLOYMENT_PLUGINCONFIG_NOTIFICATIES-API_CALLBACK-URL=http://localhost:8080/api/v1/notificatiesapi/callback

AUTODEPLOYMENT_PLUGINCONFIG_WORDPRESS_MAIL_BASE_URL=https://wordpress-zgw.test.denhaag.nl

AUTODEPLOYMENT_PLUGINCONFIG_OPENZAAK-AUTHENTICATION_CLIENTID=gzac-sd2
AUTODEPLOYMENT_PLUGINCONFIG_OPENZAAK-AUTHENTICATION_CLIENTSECRET=[insert openzaak authentication here]
AUTODEPLOYMENT_PLUGINCONFIG_CATALOGI-API_URL=https://openzaak-zgw.test.denhaag.nl/catalogi/api/v1/

AUTODEPLOYMENT_PLUGINCONFIG_ZAKEN-API_UUID=9221f56d-4137-4d84-aabb-c8662c54d3e7
AUTODEPLOYMENT_PLUGINCONFIG_ZAKEN-API_URL=https://openzaak-zgw.test.denhaag.nl/zaken/api/v1/

AUTODEPLOYMENT_PLUGINCONFIG_OBJECTS-API-AUTHENTICATION_TOKEN=[insert secret here]
AUTODEPLOYMENT_PLUGINCONFIG_OBJECTTYPES-API-AUTHENTICATION_TOKEN=[insert objecttypes authentication here]
AUTODEPLOYMENT_PLUGINCONFIG_OBJECTS-API_URL=https://objecten-zgw.test.denhaag.nl/api/v2/
AUTODEPLOYMENT_PLUGINCONFIG_OBJECTTYPES-API_URL=https://objecttypen-zgw.test.denhaag.nl/api/v2/

AUTODEPLOYMENT_PLUGINCONFIG_BRONORGANISATIE_RSIN=100000009
AUTODEPLOYMENT_PLUGINCONFIG_DOCUMENTEN_API_URL=https://openzaak-zgw.test.denhaag.nl/documenten/api/v1/
AUTODEPLOYMENT_PLUGINCONFIG_DOCUMENTEN_API_VERSION=1.5.0
AUTODEPLOYMENT_PLUGINCONFIG_BESLUITEN_API_URL=https://openzaak-zgw.test.denhaag.nl/besluiten/api/v1/
